{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>EMPLOYEE tABLE</title>
{% endblock %}


{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">EMPLOYEENAME</th>
        <th scope="col">PROFILE</th>
        <th scope="col">SALARY</th>
        <th scope="col">EMAIL/th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
        <th scope="col">PDF</th>
      </tr>
    </thead>
    <tbody>
    {% for i in object_list %}
      <tr>
        <td>{{i.emp_name}}</td>
        <td>{{i.profile}}</td>
        <td>{{i.salary}}</td>
        <td>{{i.email}}</td>
       
        <td><button class="btn btn-warning"><a href="{% url 'update_url' i.id %}">UPDATE</a></button></td>
        <td><button class="btn btn-danger"><a href="{% url 'delete_url' i.id %}">DELETE</a></button></td>
        <td><button class="btn btn-warning"><a  href="{% url 'pdf2_url' i.id %}">PDF</a></button></td>
      </tr>
    {% endfor %}

    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}