{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block itle %}
    <title>Confirmation</title>
    {% endblock %}

{% block content %}
<div class="container jumbotron">
    <form method="post">
        {% csrf_token %}
        <p>Are you sure to delete <span style="color:purple">{{object.emp_name}}, {{object.profile}}, {{object.salary}} {{object.email}}</span></p>
        <input type="submit" value="YES" class="btn btn-success">
        <button class="btn btn-danger"><a href="{% url 'list_url' %}">NO</a></button>  
    </form>

</div>
{% endblock %}